<style type="text/css">
    body, html {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12pt;
    }

    @media screen {
        body, html {
            padding: 1rem calc((100% - 800px) / 2);
            padding-bottom: 3rem;
        }
    }

    a, a:hover, a:active, a:visited {
        color: #00f;
    }

    @media print {
        a, a:hover, a:active, a:visited {
            color: #000;
        }
    }

    h1, h2, h3, p, dt, dd, blockquote {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 150%;
        text-align: center;
        margin-bottom: 1rem;
    }

    blockquote {
        text-align: center;
    }

    blockquote p {
        margin: 0;
    }

    h2 {
        font-size: 120%;
        margin: 1rem 0;
    }

    h3, dt {
        font-weight: bold;
        margin-top: 1rem;
    }

    h3, dl, p {
        margin-left: 1rem;
        font-size: 100%;
    }

    .date {
      display: none;
    }

    @media print {
        .date {
            display: block;
            position: fixed;
            bottom: 0;
            right: 0;
        }

    }

    a.pdf-link {
        position: absolute;
        top: .5rem;
        right: calc((100% - 800px) / 2);
        text-decoration: none;
    }

    @media print {
        a.pdf-link {
            display: none;
        }
    }
</style>

<a class="pdf-link" href="resume.pdf">⤵️ PDF</a>
